@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tab-bg-color: #ebefef;
}

.active-tab {
  height: fit-content !important;
  padding-top: 0.6rem !important;
  background-color: var(--tab-bg-color) !important;
  padding-bottom: 0.6rem !important;
}

.active-tab::before, .active-tab::after {
  --tab-border-color: var(--tab-bg-color);
  --tab-bg: var(--tab-bg-color);
}

.active-tab .hide-botto-border {
  position: absolute;
  width: 110%;
  height: 20px;
  background-color: var(--tab-bg-color);
  bottom: -18px;
}

.tabs-container {
  background-color: var(--tab-bg-color) !important;
}
